{% extends "../../../templates/main_template.html" %}
{% block content %}
<div class="row-fluid">
	<h1>Mis compromisos</h1>
	<p>Estamos seguros que después de revisar lo que comiste y los mensajes
	de la trivia, tu capacidad de reflexión te ayudará a comprometerte con
	algunos cambios. ¡Recuerda ser realista!</p>
</div>
<div class="row-fluid">
	<div class="span6">
		<h2>Nuevo compromiso</h2>
		<form action="" method="post">
			<div id="compromiseBox">
				<input type="text" id="newCompromise" placeholder="Me comprometo a..." name="newCompromise" class="input-block-level" />
				<p><input type="submit" value="Agregar" class="btn btn-primary btn-block" /></p>
			</div>
			
		</form>
	</div>
	<div class="span6">
		{% if pending %}
		<div>
			<h2>Mis compromisos pendientes</h2>
			<p>Cuando cumplas un compromiso, hazle click!</p>
			<div id="pendingCompromises" class="goalList">
				<ul class="unstyled">
					{% for goal in pending %}
					<li><a href="/todo/completed/{{goal.key.id}}">{{goal.goal}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
		{% if accomplished %}
		<div>
			<h2>Mis compromisos cumplidos</h2>
			<div id="accomplishedCompromises" class="goalList">
				<ul class="unstyled">
					{% for goal in accomplished %}
					<li style="text-decoration: line-through"><i class="icon-ok"></i> {{goal.goal}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock content %}