{% extends "../../../templates/main_template.html" %}
{% block content %}
<h1>Para que lo tengas presente</h1>
	
	
<h2>LO QUE ES NECESARIO QUE  RECUERDES PARA 	</h2>
	<h3>
Conocer más  del tema, discutirlo con alguien, así como conocer cuáles son  las principales fuentes de información, a quienes y dónde consultan.	
	
</h3><p>1.	Averigüa qué  alimentos son  mejores para tu salud y cuáles son los que te hacen daño.   Hay alimentos que son muy dañinos, como por ejemplo los que contienen mucha sal (sodio) o azúcar.
	
</p><p>2.	Aprende y conoce lo que te aportan los alimentos. Te puedes informar  a través de distintas fuentes: leyendo las etiquetas de los productos, preguntando al profesor,  a un familiar, consultando en internet.
	
</p><p>3.	El consumo de proteínas puedes obtenerlo de alimentos que provienen de los animales como por ejemplo el huevo, carne, leche  o de alimentos que provienen de los  vegetales como los porotos, lentejas y garbanzos.
	
</p><p>4.	Las proteínas cumplen importantes funciones vitales en nuestro organismo (ayudan en el crecimiento y en las defensas contra infecciones). 
	
</p><p>5.	Para un adecuado desarrollo y crecimiento es necesario consumir entre 4 a 6  porciones al día de alimentos que contengan proteínas.
	
</p><p>6.	Es importante consumir alimentos con proteínas y variarlos durante la semana. 
	
</p><p>7.	Es importante consumir hidratos de carbono porque proporcionan energía, pero los que contienen azúcar son más dañinos y engordan. Para evitar engordar es muy bueno evitar su consumo exagerado.
	
</p><p>8.	El consumo de frutas es muy bueno para la salud, te aportan vitaminas y fibra.  
	
</p><p>9.	El agua es la mejor de las bebidas.  Te hidrata, quita la sed y no te hace engordar. 
	
</p><p>10.	La sal es un mineral que si se consume en exceso puede ser dañina  para tu salud.  La  disminución de sal, además de beneficiar la salud,  te ayuda a sentir mejor el gusto de cada alimento.
	
</p><p>11.	El consumo diario de verduras (2 porciones) y frutas (3 porciones) protege tu salud y te ayuda a mantener tu peso normal. 
	
</p><p>12.	Una dieta es  saludable cuando los alimentos que tú eliges, te aportan todas las sustancias nutritivas que tu organismo necesita de acuerdo a tu edad y a la actividad que realizas.
	
</p><p>13.	Si tu estado nutritivo es normal  el consumo ocasional de comida chatarra no es dañino, pero nunca este tipo de comida puede ser parte de tu alimentación habitual. Recuerda que este tipo de comida contiene mucha grasa y sal.
	
</p><p>14.	Si tienes un peso normal, comer ocasionalmente golosinas no es dañino, pero nunca este tipo de comida debería ser parte de tu alimentación habitual. Recuerda que este tipo de comida contiene mucha azúcar, grasa y/o sal.
	
</p><p>15.	Los carbohidratos nos entregan energía inmediata para nuestro organismo.   Para tener fuerza y energía, debemos consumirlos a diario. Prefiere los cereales integrales.
	
</p><p>16.	La fibra es necesaria para muchos procesos digestivos, por lo que debes tratar de consumirla a diario comiendo frutas y verduras.
	
</p><p>17.	De los alimentos que consumimos a diario obtenemos los nutrientes que nuestro organismo necesita para funcionar y vivir.
	
</p><p>18.	Todos los nutrientes necesarios para nuestro organismo  los obtenemos de diferentes alimentos.   
	
</p><p>19.	Tener una alimentación saludable es la base de nuestra salud.  Si quieres mantener en un buen estado tu cuerpo y tu mente debes comer sano!!!
	
</p><p>20.	Recuerda que las sustancias nutritivas son las proteínas, los hidratos de carbono, las grasa y las sales minerales
	
</p><p>21.	El desayuno es la comida más importante del día, te aporta la energía para realizar las actividades de la mañana. 
	
</p><p>22.	Para que el desayuno te aporte los que necesitas debe contener un alimento lácteo, uno de frutas y uno de granos (pan o cereales).
	
</p><p>23.	Prefiere las frutas y jugos naturales para alimentarte antes de hacer actividad física…estos te ayudarán a aprovechar mejor tu energía
	
</p><p>24.	Recuerda que las papas fritas, ramitas, suflitos, chocolates, galletas con y sin relleno, etc. son alimentos con muchas  calorías, grasas saturadas, azúcar o sal y bajo contenido de fibra, que son perjudiciales para la salud cuando son consumidos de manera exagerada.
	
</p><p>25.	Cuando te vayas a acostar evita hacerlo con el estomago lleno……. ya que solo ayudará a aumentar tus depósitos de grasa.
	
</p><p>26.	El número ideal de comidas es 5: desayuno, colación, almuerzo y comida. Es preferible comer menos cantidad en cada una, pero más veces.
	
</p><p>27.	La vitamina C se encuentra principalmente en los cítricos como limones y naranjas y en el tomate. Cuando uno prefiere comer  los alimentos que son buenos para  la  salud, está cuidándose.
	
</p><p>28.	Lo recomendable para una actividad física efectiva es que se realice 3 veces a la semana, así tu calidad de vida se mantiene en óptimas condiciones.
	
</p><p>29.	El gasto energético de la actividad física debe ser repuesto con alimentos nutritivos como frutas y jugos naturales.
	
</p><p>30.	Todas las actividades físicas ayudan al desarrollo de músculos y huesos en los niños y contribuyen a sentirte feliz.
	
</p><p>31.	La actividad física es una instancia que permite conocer gente nueva con tus mismos intereses. 
	
</p><p>32.	El principal material para realizar actividad física es tener las ganas.
	
</p><p>33.	Si realizas actividad física en los días con sol recuerda siempre tomar mucha agua para evitar la deshidratación y usar protector solar (50+).
	
</p><p>34.	La actividad física es una excelente oportunidad para conocer amigos y mejorar la condición física
	
</p><p>35.	La actividad física te ayuda a desarrollar habilidades que te permiten relacionarte con otras personas que tienen el mismo gusto por el deporte.
	
</p><p>36.	En cualquier lugar puedes realizar actividad física.  Es bueno para tu salud y te permite hacer amigos.
	
</p><p>37.	La actividad física en familia permite compartir y además mejorar el estado de salud de todos sus miembros.
	
</p><p>38.	Lo que tu organismo necesita está muy relacionado con la  cantidad de actividad física  que realizas. A mayor actividad física, mayor gasto energético.
	
</p><p>39.	Recuerda que los comerciales están hechos para que te tientes y compres lo que ellos quieren. 
	
</p><p>40.	El etiquetado nutricional de los alimentos te entrega información muy útil y segura, para ayudarte a seleccionar los alimentos.  En ella se encuentra la fecha de vencimiento, la proporción de nutrientes y el aporte calórico.
	
</p><p>41.	Existen muchas enfermedades que se producen por tener una mala alimentación.  Recuerda comer alimentos en buenas condiciones higiénicas y en las porciones adecuadas para tu edad y peso.
	
</p><p>42.	Muchos niños en Chile tienen un estado nutricional alterado. En la mayoría de los casos pesan más de que necesitan para su edad, estatura y sexo. Por lo que para mantenerte normal debes comer sano y ejercitarte diariamente.
</p>	
	
	
<h2>LO QUE ES NECESARIO QUE  RECUERDES PARA	</h2>
	
<h3>Elegir  y tomar buenas  decisiones relacionadas con tu alimentación.	</h3>
	
<p>1.	Es  importante seleccionar  colaciones que son saludables, como las frutas, que aportan las vitaminas y fibra que nuestro organismo necesita. 
	
</p><p>2.	Lo más importante en la selección de los alimentos, es que estos te aporten todas las sustancias nutritivas que tu organismo necesita.
	
</p><p>3.	Recuerda que  debes escoger mayor cantidad de alimentos que están en la base de la pirámide y menor cantidad  de los que se encuentran arriba.
	
</p><p>4.	 Si quieres crecer fuerte y sano elige consumir alimentos ricos en vitaminas todos los días como las frutas y las verduras.
	
</p><p>5.	 Elige comer alimentos que te aporten los diferentes nutrientes necesarios.
	
</p><p>6.	Es importante  consumir agua!!.  Prefiere siempre tomar agua en lugar de jugos en polvo o bebidas, éstas aportan mucha azúcar y otras sustancias dañinas para la salud.
	
</p><p>7.	Prefiere aquellas actividades que te permitan compartir con tus amigos y  gastar energía.
	
</p><p>8.	Prefiere aquellas actividades que te permiten gastar la energía que consumes en los alimentos.
	
</p><p>9.	Tú tienes el poder de elegir qué comer y no influenciarte por la propaganda de la televisión. Elije siempre colaciones de alimentos naturales saludables. 
	</p>
	
	
	
	
<h2>LO QUE ES NECESARIO QUE  RECUERDES PARA	</h2>
<h3>Realizar acciones concretas en relación al cuidado de tu alimentación y nutrición.	
	
	
</h3><p>1.	Busca en internet o en algún libro las funciones de las proteínas.  Coméntalo con tu familia.
	
</p><p>2.	De los alimentos que consumes a diario, identifica todos los que contengan proteínas y separa aquellos que son de origen animal de los de origen vegetal. 
	
</p><p>3.	Investiga qué vitaminas tiene la manzana y el tomate.  Es importante que sepas para qué sirven.
	
</p><p>4.	Comenta con tu familia lo que te puede pasar si consumes carbohidratos en forma exagerada. 
	
</p><p>5.	Comenta con tus compañeros cuáles son tus 3 alimentos favoritos y qué nutrientes te aportan. 
	
</p><p>6.	Averigua que alimentos son ricos en fierro, estos te ayudarán a que tu sangre transporte oxigeno y nutrientes a todo tu cuerpo.
</p><p>7.	Dibuja la fruta que más te gusta comer.  Recuerda comer  3 porciones al día.
	
</p><p>8.	Es necesario que tu dieta  sea muy variada todos los días.
  	
</p><p>9.	Recuerda mirar la etiqueta nutricional que traen todos los alimentos, así aprenderás a tomar buenas decisiones en tu alimentación.
	
</p><p>10.	Selecciona uno de los alimentos que hayas traído para la colación y mírale la etiqueta nutricional para averiguar que nutrientes contiene.
	
</p><p>11.	 Recuerda siempre lavar muy bien las frutas y verduras que consumirás crudas. Recuerdas siempre lavarte las manos con jabón antes de comer.
	
</p><p>12.	Consumir dulces todos los días puede hacer que subas mucho de peso y su consumo exagerado es dañino para tus dientes.  
	
</p><p>13.	Recuerda siempre al salir con tu familia, estimularlos para que hagan ejercicio.
	
</p><p>14.	Averigua sobre la enfermedad de la Diabetes Mellitus y cuéntale a tus padres en qué consiste. 
	
</p><p>15.	Investiga si tu peso es el adecuado para tu edad, estatura y  género (niño o niña).
{%endblock content%}