{% extends "../../../templates/main_template.html" %}
{% block content %}
<dl>
	<dt><a href="/docs/mensajes_mekuido_1.pps">Mensajes MeKuido 1</a></dt>
	<dd>Consejos para que conozcas más del tema.</dd>
	<dt><a href="/docs/mensajes_mekuido_2.pps">Mensajes MeKuido 2</a></dt>
	<dd>Consejos para que elijas y tomes buenas decisiones.</dd>
	<dt><a href="/docs/mensajes_mekuido_3.pps">Mensajes MeKuido 3</a></dt>
	<dd>Consejos para que lo que hagas, sea lo mejor para tu salud</dd>
	<dt><a href="/static/glossary">Glosario</a></dt>
	<dd>Terminos generales para que puedas saber de que se tratan los conceptos que se usan en la alimentación</dd>
	<dt><a href="/docs/alimentosSaludables.pdf" target="alimentosSaludables">Alimentos Saludables</a></dt>
	<dd>Lista de alimentos que son saludables para ti.</dd>
	<dt><a href="/img/piramide.jpg" target="piramide">Piramide Actividad Física</a></dt>
</dl>
{% endblock content %}
