{% extends "../../../templates/main_template.html" %}
{% block css_requires %}

{% endblock %}
{% block js_activities %}

<script type="text/javascript">
	
	$(function(){
		$('.timed_show').each(function(idx,item){
			item = $(item);
			item.delay(item.data('delay')).show("medium");
		});
	})
</script>

{% endblock %}
{% block content %}
<div class="row-fluid">
  <h1>La Trivia MeKuido</h1>
</div>

<div class="row-fluid timed_show" id="question_container" style="display:none" data-delay="100">
	<div class="span10 offset1" style="background: rgba(250,250,250,0.8)">
		<p>La respuesta a:</p>
		<blockquote>
			<p class="lead">&iquest;{{question.question_text}}?</p>
		</blockquote>
	</div>
</div>

<div class="row-fluid timed_show" id="question_drama" style="display:none" data-delay="3000">
	<div class="span4 offset5">
		<h2>&hellip;&nbsp;está &hellip;</h2>
	</div>
</div>

<div class="row-fluid timed_show" id="answerContainer" style="display:none" data-delay="9000"> 
	<div class="span7 offset1">
		<h1 id="answer" class="result-feedback">{{result_feedback}}</h1>
		<div id="feedback">{{ feedback }}</div>
	</div>
	<div class="span4">
		{%if kid_face %}<div id="kid_face"><div class="{{ kid_face }}"></div> </div>{% endif %}
	</div>
</div>

<div class="row-fluid timed_show" style="display:none" data-delay="16500">
	<div class="span4 offset4">
		<a href="/trivia/" class="btn btn-block btn-primary btn-large" id="trivia_continue" >Seguir</a>
	</div>
</div>


{% endblock content %}
{% block avatar%}
	{% if kid_face %}
	{% else %}
	{{ block.super }}
	{%endif%}
{%endblock avatar%}
