{% extends "../../../templates/main_template.html" %}
{% block css_requires %}
<link type="text/css" href="/css/trivia.css" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
<h1>La Trivia MeKuido</h1>
<div class="row-fluid">
	<h2 id="question" >{{question.question_text}}?</h2>
</div>

<div id="possible_answers" class="row-fluid">
	
	{% for pa in question.possible_answers %}
	<form action="/trivia/answer/" method="post" id="triviaForm">
		<input type="hidden" name="triviaQuestion" value="{{question.key.id}}"/>
		<input type="hidden" name="triviaAnswer" id="triviaAnswer" value="{{pa.key.id}}"/>
		<input type="submit" value="{{pa.possible_answer_text}}" class="btn btn-success btn-block" />
	</form>
	{% endfor %}
</div>

<!--input type="hidden" name="triviaAnswer" id="triviaAnswer" value=""/>
<input type="hidden" name="triviaQuestion" value="{{question.key.id}}"/-->

{% endblock content %}