{% extends "../../../templates/main_template.html" %}


{% block content %}

<h1>Bakán!</h1>
<p>Ahora, elige un Avatar para que te acompañe!</p>

<ul class="thumbanils">
	{% for avatar in avatar_list %}
	<li class="thumbnail span3" id="{{avatar.prefix}}">
		<div class="{{avatar.sex}}-{{avatar.prefix}}-normal avatar-preview" ></div>
		<div class="caption">
			<a href="/start/{{avatar.prefix}}/select" class="btn btn-primary">Seleccionar</a> 
		</div>
	</li>
	{% endfor %}
</ul>


{% endblock content %}