{% extends "../../../templates/main_template.html" %}
{% block css_requires %}
<link type="text/css" media="screen" href="/css/firstTime.css" rel="stylesheet" />
{% endblock %}
{% block js_activities %}
    
    <script type="text/javascript">
    
    
    
    function setDate()
    {
        var day = document.getElementById('day');
        day = day[day.selectedIndex].value;
        if(day.length == 1)
            day = '0' + day;
        var month = document.getElementById('month');
        month = month[month.selectedIndex].value;
        if(month.length == 1)
            month = '0'+month
        var year = document.getElementById('year');
        year = year[year.selectedIndex].value;
        
        var date = document.getElementById('birth_date')
        date.value = day + '/'+month+'/'+year
    }
        
    
</script>
{% endblock js_activities%}
{% block content %}
<div class="row-fluid">
    <h1>Bienvenido!</h1>
    <p>Hola {{name}}! Antes de comenzar, necesitamos que me des algunos datos tuyos por favor.</p>
    <form method="post" action="/start/" class="form-horizontal" name="form_first_time" id="form_first_time">

        <div class="control-group">
            <label class="control-label" for="weight">Peso (en kg)</label>
            <div class="controls">
              <input type="number" name="weight" class="input-medium" min="0" max="200" style="height:30px" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="height">Altura (en cm)</label>
            <div class="controls">
              <input type="number" name="height" class="input-medium" min="0" max="250" style="height:30px" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="height">Fecha de Nacimiento</label>
            <div class="controls">
                <select id="day" onchange="setDate()" class="input-mini" required>
                {% for day in days %}
                    <option value="{{day}}">{{day}}</option>
                {% endfor%}
                </select>/
                <select id="month" onchange="setDate()" class="input-mini" required>
                {% for month in months %}
                    <option value="{{month}}">{{month}}</option>
                {% endfor%}
                </select>
                /
                <select id="year" onchange="setDate()" class="input-small" required>
                {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                {% endfor%}
                </select>
                <input type="text" name="birth_date" id="birth_date" value="01/01/1990"  style="display:none" class="validate['required','%validateDate']" readonly="readonly"/>
            </div>
        </div>
         <div class="control-group">
            <label class="control-label" for="height">Sexo</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="sex" id="optionsRadios1" value="femenino" required />
                    Femenino
                </label>
                <label class="radio">
                    <input type="radio" name="sex" id="optionsRadios1" value="masculino" required/>
                    Masculino
                </label>
            </div>
        </div>
        <div>
            <input type="submit" class="validate['submit'] btn btn-primary btn-block" value="Ingresar">
        </div>
    </form>
</div>
{% endblock content %}