{% extends "../../../templates/main_template.html" %}


{% block css_requires %}
    <link type="text/css" media="screen" href="/css/welcome.css" rel="stylesheet" />
{% endblock %}
{% block js_requires %}
    <!--script type="text/javascript" src="/js/tutorial.js"></script-->
{% endblock js_requires %}
{% block js_activities %}
<!--script type="text/javascript" >
    window.addEvent('domready',function(){
        
        setTimeout('askTutorial()',10000);
        });
</script-->
{% endblock %}
{% block content %}






<div id="welcome_message">
{%if welcome_message%}
    <h1>{{welcome_message.title}}</h1>
    <p>{{welcome_message.body}}</p>
{%else %}
    <div class="row-fluid">
        <div class="span6 offset3" style="text-align:center;">
            <h1>Bienvenido a</h1>
            <img src="/img/logo_small.png" height="20px" alt="MeKuido">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <p>Aquí podrás encontrar ayuda para aprender a combinar mejor tus alimentos y tus actividades. Así podrás fortalecer tu salud.</p>
            <p>Te invitamos a revisar cada una de las secciones para que conozcas aún más lo que puedes hacer para mantenerte en óptimas condiciones...¡¡¡ADELANTE!!!</p> 
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <ul class="thumbnails site-description">
                <li class="span6">
                    <div class="thumbnail">
                      <div id="" class="menuContainerElement pull-left plain food_log_menu"><div><a href="/food_log/">¿Qué Comí?</a></div></div>
                      <h3>Que comí?</h3>
                      <p>Aquí puedes anotar que es lo que comiste ayer y asi podrás ver que tan sano te estás alimentando.</p>
                    </div>
                </li>
                <li class="span6">
                    <div class="thumbnail">
                        <div id="" class="menuContainerElement pull-left plain trivia_menu"><div><a href="/trivia/">Trivia</a></div></div>
                        <h3>La Trivia</h3>
                        <p>Aqúi podrás responder preguntas sobre alimentación saludable.</p>
                    </div>
                </li>
                <li class="span6" style="margin-left: 0px">
                    <div class="thumbnail">
                        <div id="" class="menuContainerElement pull-left plain todo_menu"><div><a href="/todo/">Mis Metas</a></div></div>
                        <h3>Mis metas</h3>
                        <p>Para lograr ser una persona más sana debes ponerte metas e ir cumpliendolas!</p>
                    </div>
                </li>
                <li class="span6">
                    <div class="thumbnail">
                        <div id="" class="menuContainerElement pull-left plain more_menu"><div><a href="/static/others">Ayudas</a></div></div>
                        <h3>Ayuda</h3>
                        <p>Si necesitas saber más de algún tema, revisa la sección de ayuda!</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="span3">

            <div class="avatar">
                {% if bubble_data %}
                <div class="dialog-placeholder"
                    rel="popover"
                    data-animation="true"
                    data-placement="left"
                    data-delay="{show: 300}"
                    data-content="{{bubble_data}}"> 
                </div>
                {% endif %}
                {%if kid_data%}
                <div class="{{kid_data}} half" ></div>
                {% endif %}
            </div>
        </div>
    </div>

{%endif%}
</div>
{% endblock content %}
{%block avatar%}{%endblock avatar%}