{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Crear Pregunta para la trivia <a href="">{{trivia_name}}</a></h1>

<form method="post" action="addQuestion" class="formHorizontal">
	<h2>Datos de la Pregunta</h2>
	<div class="control-group">
		<label class="control-label" for="question_text">Pregunta</label>
		<div class="controls">
			<input type="text" name="question_text" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="feedback_text">Feedback pregunta</label>
		<div class="controls">
			<input type="text" name="feedback_text" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="question_text">Frase</label>
		<div class="controls">
			<input type="text" name="phrase_text" />
		</div>
	</div>
	
	<table class="table table-striped">
		<tr>
			<th>Alternativa</th>
			<th>Texto alternativa</th>
			<th>Correcta?</th>
			<th>Feedback alternativa</th>
		</tr>
		
		{% for i in range3 %}
		<tr>
			<td>
				{{i}}
			</td>
			<td>
				<input type="text" name="alternative{{i}}_text" />
			</td>
			<td>
				<input type="checkbox" name="correct_alternative{{i}}" value="True" /> 
			</td>
			<td>
				<input type="text" name="feedback{{i}}_text" />
			</td>
		</tr>	
		{% endfor %}
		<tr><td colspan="2"><input type="submit" value="Crear" /></td></tr>
	</table>
	
	
</form>


{% endblock content %}


