{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Administraci&oacute;n</h1>

<p>Bienvenid@ al portal de administración de MeKuido!</p>

<p>Recuerde que los cambios realizados en estos paneles <em>no son reversibles</em> por lo que tenga mucho cuidado con las decisiones que tome.</p>

<p>Tenga en cuenta que para que la intervención sea de provecho debe <strong>crear colegios, agregarle cursos, agregar alumnos a los cursos y asignar un profesor a cada curso</strong> y de consultar constantemente al profesor si necesita algún tipo de ayuda o soporte.</p>

{% endblock content %}

