{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Agregar Elemento Alimenticio</h1>

<form method="post" >
	<h2>Datos del Alimento</h2>
	<textarea name="foods">
		Aceite,cucharada,0,0,5,6;
		Acelga,taza,4,2,1,2;
		Achicoria,taza,2,1,0,2;
		Albóndiga,unidad,8,15,7,5;
		Alcachofa,unidad,10,1,0,2;
		Alcachofa mayo,unidad,14,3,13,1;
		Alcachofa vinagreta,unidad,5,1,0,1;
		Alcayota,cucharada,11,0,0,7;
		Almejas,tarro,3,15,1,6;
		Apio,taza,4,1,0,2;
		Arroz,taza,42,4,0,1;
		Arroz con Leche,pote,46,7,6,1;
		Arroz graneado,taza,64,5,11,1;
		Arveja,taza,14,4,0,2;
		Atún en aceite,tarro,1,26,27,5;
		Avena,cucharada,12,2,1,1;
		Azúcar,cucharadita,5,0,0,7;
		Bebida Gaseosa,vaso,22,0,0,7;
		Berenjena,taza,5,1,0,2;
		Berlin,unidad,15,9,71,7;
		Beterraga,taza,7,2,0,2;
		Biscocho Relleno,unidad,63,4,20,7;
		Bistec Alemán,unidad,2,24,6,5;
		Bistec a la plancha,unidad,4,32,5,5;
		Bistec a lo Pobre,plato,58,58,46,5;
		Bistec en aceite,unidad,4,32,10,5;
		Brazo de Reina,plato,13,10,7,5;
		Brocoli,taza,5,3,0,2;
		Budín de verduras,plato,24,7,14,1;
		Caldillo de Pescado,plato,30,35,12,1;
		Carbonada con carne,plato,66,14,16,1;
		Carbonada de verdura,plato,43,7,5,1;
		Carne Vegetal,plato,0,55,1,5;
		Carne al jugo,presa,8,32,10,5;
		Carne asada,unidad,5,43,11,5;
		Carne de Cerdo,trozo,0,25,21,5;
		Carne de Cerdo,trozo,0,25,21,5;
		Carne de Cordero,trozo,0,26,17,5;
		Carne de Vacuno,trozo,0,24,6,5;
		Cazuela Ave,plato,43,20,14,1;
		Cazuela Cerdo,plato,56,26,14,1;
		Cazuela Cordero,plato,53,32,11,1;
		Cazuela Vacuno,plato,56,37,9,1;
		Cazuela albóndiga,plato,47,15,8,1;
		Cebolla,taza,6,1,0,2;
		Cereza,taza,14,2,1,2;
		Champiñones,taza,7,3,1,2;
		Charquicán,plato,55,3,7,1;
		Chirimoya,unidad,12,3,1,3;
		Choclo,unidad,23,5,1,2;
		Cholgas en aceite,tarro,2,26,5,5;
		Choritos en aceite,tarro,2,19,4,5;
		Chuletas de cerdo,unidad,2,27,29,1;
		Ciruela,unidad,10,1,0,3;
		Cochayuyo,taza,9,1,0,2;
		Coliflor,taza,4,2,1,2;
		Compota Ciruela con Mote,pote,58,3,0,1;
		Compota de Fruta,pote,20,1,1,1;
		Compota de Huesillo con Mote,pote,55,2,0,1;
		Conejo Asado,unidad,0,19,2,1;
		Congrio al Vapor,unidad,5,23,0,1;
		Congrio frito,unidad,11,32,32,1;
		Corvina al Vapor,unidad,4,31,1,1;
		Costillas Asadas,plato,0,23,12,1;
		Damasco,unidad,15,1,1,3;
		Dulce Chileno,unidad,20,2,14,1;
		Dulce de Membrillo,tajada,18,0,0,7;
		Durazno o melocotón,unidad,14,1,0,3;
		Empanada Horno,unidad,50,14,16,1;
		Empanada de Pino,unidad,50,12,17,1;
		Empanada frita pino,unidad,33,11,19,1;
		Empanada frita queso,unidad,32,13,15,1;
		Ensalada Rusa,plato,33,8,16,1;
		Ensalada de Cebolla,plato,31,11,1,1;
		Ensalada porotos con cebolla,plato,31,11,1,1;
		Escalopa de vacuno,unidad,18,24,15,1;
		Espinaca,taza,2,2,0,2;
		Espárragos,unidad,2,1,0,2;
		Espárragos limoneta,plato,4,4,16,1;
		Estofado de ave,plato,15,20,16,1;
		Estofado de cordero,plato,15,15,13,1;
		Fiambre en general,tajada,1,5,6,1;
		Fideos,taza,26,5,1,1;
		Flan,unidad,27,4,3,7;
		Flan de Leche,pote,40,8,60,1;
		Flan de verdura,cucharada,0,9,0,1;
		Fritos de verdura,unidad,0,8,0,1;
		Frutillas con azúcar,cucharada,28,1,1,7;
		Frutillas con crema,pote,28,1,6,3;
		Galletas Tritón,unidad,4,0,1,7;
		Galletas de Soda,unidad,4,1,1,1;
		Galletas de Vino,unidad,4,0,1,7;
		Garbanzos,taza,32,10,3,1;
		Garbanzos cocidos,taza,38,13,4,1;
		Garbanzos con tocino,plato,51,19,22,1;
		Goulach,plato,31,24,14,1;
		Guatitas,unidad,0,10,3,5;
		Guatitas,plato,0,24,3,5;
		Haba,taza,3,2,1,2;
		Habas,taza,14,7,1,2;
		Hallulla,unidad,62,8,4,1;
		Hamburguesas,unidad,5,22,15,5;
		Harina tostada con leche,pote,49,10,6,1;
		Helados,unidad,14,1,3,7;
		Higado,trozo,3,24,5,5;
		Huevo,unidad,2,7,5,5;
		Huevo a la copa o duro,unidad,2,7,5,5;
		Huevo con fiambre,unidad,2,8,10,5;
		Huevo con queso,unidad,5,9,9,1;
		Huevo con tocino,unidad,2,7,10,1;
		Huevo frito o revuelto,unidad,2,7,8,5;
		Humita,unidad,43,9,16,1;
		Hígado bistec,unidad,7,30,12,5;
		Jalea con fruta,pote,33,3,0,7;
		Jalea con leche,pote,25,6,6,7;
		Jamón,tajada,0,6,8,5;
		Jamón con palta y lechuga,unidad,5,12,20,1;
		Jamón con papas mayo,plato,41,8,18,1;
		Jamón de pollo,tajada,0,15,4,5;
		Jugo,vaso,3,0,0,7;
		Jurel al vapor,plato,1,32,60,5;
		Jurel en aceite,tarro,1,26,25,5;
		Kiwi,unidad,16,1,1,3;
		Kuchen,unidad,34,3,9,7;
		Lasaña,plato,36,22,15,1;
		Leche Asada,unidad,26,8,3,7;
		Leche Semidescremada,vaso,10,6,3,4;
		Leche asada,pote,33,3,0,7;
		Leche con milo,vaso,28,8,6,4;
		Leche con plátano,cucharada,31,8,6,4;
		Leche condensada,cucharada,12,2,1,7;
		Leche descremada,vaso,10,7,0,4;
		Leche entera,vaso,9,6,7,4;
		Leche nevada,pote,33,8,7,7;
		Lechuga,taza,1,1,0,2;
		Lentejas,taza,37,11,1,1;
		Lentejas con arroz,plato,55,20,11,1;
		Limonada,vaso,15,0,0,1;
		Locos,tarro,6,22,1,5;
		Locos mayo,plato,6,19,29,5;
		Lomo asado,trozo,1,46,16,5;
		Longaniza,unidad,4,8,23,5;
		Lúcuma,unidad,31,1,1,3;
		Macedonia,pote,35,1,1,3;
		Machas,tarro,3,26,3,5;
		Manjar,cucharada,11,2,1,7;
		Mantequilla,cucharada,0,0,5,6;
		Manzana,unidad,17,0,0,3;
		Manzana asada,pote,0,1,0,3;
		Margarina,cucharada,0,0,5,6;
		Margarina Diet,cucharada,0,0,4,6;
		Mariscos en salsa verde,plato,15,20,7,5;
		Marraqueta,unidad,60,6,1,1;
		Mayonesa,cucharada,2,0,2,6;
		Melocotón,unidad,14,1,0,3;
		Melón,tajada,13,1,0,3;
		Membrillo,unidad,13,0,0,3;
		Merengue con azúcar,pote,6,1,0,7;
		Merengue con fruta,pote,30,2,0,7;
		Merluza,cucharada,0,13,1,5;
		Mermelada de Alcayota,cucharada,11,0,0,7;
		Mermelada de Ciruela,cucharada,9,0,0,7;
		Mermelada de Damasco,cucharada,9,0,0,7;
		Mermelada de Durazno,cucharada,10,0,0,7;
		Mermelada de Frutilla,cucharada,12,0,0,7;
		Mermelada de Guinda,cucharada,13,0,0,7;
		Mermelada de Mora,cucharada,9,0,0,7;
		Mermelada de Rosa Mosqueta,cucharada,13,0,0,7;
		Miel de Abeja,cucharadita,5,0,0,7;
		Miniestrón,plato,53,14,4,1;
		Mortadela,tajada,1,4,5,5;
		Naranja,unidad,11,1,0,3;
		Palomitas de maíz,taza,25,5,3,1;
		Palta,unidad,2,0,6,6;
		Palta Rellena,unidad,5,7,30,6;
		Pan Amasado,unidad,37,5,7,1;
		Pan con fiambre,unidad,63,14,11,1;
		Pan con fiambre y mantequilla,unidad,63,14,29,1;
		Pan con manjar,unidad,85,11,6,1;
		Pan con mermelada,unidad,79,8,4,1;
		Pan con paté,unidad,62,11,17,1;
		Pan con queso,unidad,63,18,14,1;
		Pan con queso y mantequilla,unidad,64,18,31,1;
		Pan de Molde,rebanada,16,3,1,1;
		Panqueques,unidad,30,3,4,1;
		Pantrucas,plato,60,10,7,1;
		Papa duquesa,unidad,6,2,2,1;
		Papas,taza,20,2,0,1;
		Papas fritas,plato,76,9,10,1;
		Papas rellenas,unidad,48,19,14,1;
		Papaya,unidad,4,1,0,3;
		Papayas al Jugo,vaso,9,0,0,3;
		Pastel,unidad,75,2,6,1;
		Pastel de Choclo,plato,61,22,27,1;
		Pastel de carne,trozo,21,11,16,1;
		Pastel de mil hojas,unidad,72,4,14,1;
		Pastel de papas,unidad,51,22,15,1;
		Pavo,trozo,1,22,3,5;
		Pavo asado,trozo,1,24,4,5;
		Pepino,taza,2,1,0,2;
		Pepino dulce,unidad,8,1,0,3;
		Pera,unidad,15,0,1,3;
		Pera al jugo,tarro,103,1,1,3;
		Pera compota,pote,10,0,0,1;
		Pernil,trozo,0,33,11,5;
		Pescado,trozo,1,19,7,5;
		Pescado ahumado,trozo,0,26,1,5;
		Pescado al Jugo,trozo,4,31,6,5;
		Pescado al curry,trozo,7,35,8,5;
		Pescado al vapor,trozo,1,26,1,5;
		Pichanga,plato,13,12,14,5;
		Pie de limón,unidad,15,5,47,7;
		Pie de limón,unidad,45,4,12,7;
		Pino de carne,plato,3,16,12,5;
		Pizza,tajada,25,14,9,1;
		Piña al Jugo,tarro,79,2,1,3;
		Plátano,unidad,21,1,0,3;
		Pollo,presa,0,27,7,5;
		Pollo al curry,presa,7,20,10,5;
		Pollo al jugo,presa,6,24,16,5;
		Pollo asado con mantequilla,presa,6,23,16,5;
		Pollo frito apanado,presa,8,2,9,5;
		Poroto granado,taza,4,2,0,2;
		Porotos,taza,31,12,1,1;
		Porotos Verdes,taza,11,3,0,2;
		Porotos cocidos,taza,37,14,186,1;
		Porotos con tallarines,plato,62,20,13,1;
		Porotos granados,plato,63,4,6,1;
		Porotos granados cocidos,taza,31,2,0,1;
		Porotos verdes cocidos,taza,3,1,0,1;
		Prietas,unidad,1,11,9,5;
		Prueba,cucharada,100,100,100,1;
		Puré de papas,plato,56,13,12,1;
		Quaker con leche,pote,44,9,6,1;
		Quesillo,tajada,1,3,1,4;
		Queso,tajada,1,10,11,6;
		Reinteta,trozo,1,19,3,5;
		Repollo,taza,3,1,0,2;
		Roastbeef,trozo,0,28,15,5;
		Salame,tajada,0,3,6,5;
		Salpicón,taza,6,15,16,5;
		Salsa Blanca,cucharada,1,1,2,1;
		Salsa de Tomates,cucharada,4,1,0,6;
		Sandía,tajada,5,0,0,3;
		Sopa con verdura y arroz,plato,24,2,4,1;
		Sopa de mariscos,plato,19,13,3,5;
		Sopa deshidratada,plato,11,2,1,1;
		Sopa menudencias,plato,27,6,60,1;
		Sopaipilla,unidad,8,1,10,1;
		Sopaipilla pasada,unidad,14,1,10,1;
		Strudel de Manzana,unidad,49,4,14,7;
		Surtido para caldillo,tarro,11,35,2,5;
		Sémola con leche,pote,49,8,6,1;
		Tallarines cocidos,taza,52,9,0,1;
		Tallarines con salsa de carne,taza,69,38,10,1;
		Tocino,tajada,0,0,9,6;
		Tomate,unidad,3,1,0,2;
		Tomate relleno,unidad,10,6,10,2;
		Tortilla de verduras,trozo,47,1,0,2;
		Turín,rebanada,1,4,6,7;
		Tuti fruti en conserva,pote,47,1,0,3;
		Uva,unidad,1,0,0,3;
		Vienesa,unidad,0,4,10,5;
		Vienesas,unidad,1,8,18,5;
		Yogurt diet,unidad,10,5,2,4;
		Yougurt,unidad,8,6,6,4;
		Zanahoria,taza,11,1,0,2;
		Zapallo,trozo,6,0,1,2;
		Zapallo Italiano,unidad,6,1,1,2;
	</textarea>
	<input type="submit" value="Iniciar" />
	
	
</form>


{% endblock content %}

