{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Lista de Avisos</h1>

{% if news %}
	{% for n in news%}
		<p>{{n.message}}</p>
	{% endfor %}
	
{% else %}
	<p>No hay avisos en el sistema</p>
{% endif %}
<h1>Nuevo aviso</h1>
<form method="post">
  <input type="text" name="message" />
  <input type="submit" value="crear" />
</form>

{% endblock content %}
{% block js_activities %}
<script type="text/javascript">
	function expand(element)
	{
		var id = element.id;
		var detailElement = document.getElementById(id + 'Details');
		detailElement.style.display = 'block';
	}
</script>
{% endblock js_activities %}
_