{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Reporte General</h1>

<h2>Trivia</h2>

<p>Preguntas respondidas: aproximadamente {{answered_trivia_questions}}</p>

<h2>Accesos</h2>
<p>Accesos de alumnos desde el 8 de Julio de 2011: aproximadamente {{accesses}}</p>

<h2>Que comí</h2>
<p>Cantidad de respuestas: aproximadamente {{food_logs}}</p>

<h2>Compromisos</h2>
<p>Cantidad de compromisos realizados: {{todos}}</p>
<p>Cantidad de compromisos cumplidos: {{todos_done}}</p>
{% endblock content%}