{% extends "../../../templates/admin_template.html" %}
{% block content %}

<h1>Lista de Preguntas de Trivia</h1>

{% if questions %}
	{% for question in questions %}
	<div class="row">
		<div class="span10">
			<p class="lead">{{question.question_text}}?</p>
			<p>Frase: {{question.phrase}}</p>
			<p>Feedback: {{question.general_feedback}}</p>
			<p> Respuestas posibles:</p>
			<table class="table">
				<thead>
					<tr>
						<th>Posible respuesta</th>
						<th>Correcta?</th>
						<th>Feedback</th>
					</tr>
				</thead>
				<tbody>
				{% for answer in question.possible_answers %}
					<tr>
						<td>{{answer.possible_answer_text}}</td>
						<td>{%if answer.is_correct %}<i class="icon-ok"></i>{%endif%}</td>
						<td>{{answer.feedback_text}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endfor %}
{% else %}
	<p>No hay preguntas de trivia</p>
{% endif %}

<table>
	
</table>

{% endblock content %}

