#avatarList
{
	border: 1px solid grey;
	width: 470px;
	height: 320px;
	overflow: auto;
}

.avatarContainer
{
	height: 300px;
	width: 150px;
	background-color:transparent;
	display: inline;
	
}
.avatarContainerSelected
{
	height: 300px;
	width: 150px;
	background-color:transparent;
	display: inline;
}
.avatarContainerSelected img
{
	border: 3px solid blue;
	margin: 10px 10px 0px 10px;
}	
.avatarContainer img:hover

{
	border: 3px solid orange;
}	
.avatarContainer img
{
	border: 3px solid transparent;
	margin: 10px 10px 0px 10px;
}

