<!doctype html>  
<html lang="es" manifest="/cache.manifest">  
<head>
	
	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<link type="text/css" href="/css/login.css" rel="stylesheet" media="screen" />
	<link type="text/css" href="/css/adhoc.css" rel="stylesheet" media="screen" />
	<link type="text/css" href="/css/styles.css" rel="stylesheet" />
	
	<!--Custom CSS Requirements-->
	{% block css_requires %}{% endblock %}
	<!--End of Custom CSS Requirements-->
		
	<title>Me Kuido - {% block title %}Bienvenido{% endblock %}</title>
</head>
  <body>
    <div class="headerContainer">
	</div>
	{%if flash %}<div style="text-align:center"><span class="flashContainer" style="display:inline" >{{ flash }}</span></div>{% endif %}
	<div class="contentContainer">	
			
			
		<!--content goes here -->
		<div class="generatedContent">
		{% block content %}{{ content }}{% endblock %}
		</div>

	</div>
    
	<div class="footer">
		MeKuido.info
	</div>
	
	<div id="preload">
		{% block preload%}{% endblock %}
	</div>
  </body>
  

	<!--Custom Javascript Code Needed-->
	{% block js_requires %}{% endblock %}
	{% block js_activities %}{% endblock %}

	<!--End of Custom Javascript --> 
</html>