<!doctype html>  
<html lang="es" manifestold="/cache.manifest.not3">  
<head>
	
	<title>Me Kuido - {% block title %}Bienvenido{% endblock title%}</title>
	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<link type="text/css" href="/css/styles.css" rel="stylesheet" />
	<link type="text/css" href="/css/sprites.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
	<!--link type="text/css" href="/css/faces.css" rel="stylesheet" /-->	
	
	<!--Custom CSS Requirements-->
	{% block css_requires %}{% endblock css_requires%}
	<!--End of Custom CSS Requirements-->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span3">
				<a href="/">
					<div class="logo"></div>
				</a>
			</div>
			<div class="span6 menuContainer">
				<div class="row-fluid">
					{% if not hide_menu %}
					<div id="" class="menuContainerElement food_log_menu"><div><a href="/food_log/">¿Qué comí?</a></div></div>
					<div id="" style="display:none" class="menuContainerElement activity_menu"><div><a href="/activity/">¿Qué hice?</a></div></div>
					<div id="" class="menuContainerElement trivia_menu"><div><a href="/trivia/">Trivia</a></div></div>
					<div id="" class="menuContainerElement todo_menu"><div><a href="/todo/">Mis metas</a></div></div>
					<div id="" class="menuContainerElement more_menu"><div><a href="/static/others">Ayudas</a></div></div>
					{% endif %}
				</div>
			</div>
		    <div class="span2 offset1">
		    	<p class="lead">{{current_account.system_login}}</p>
		    	<a href="/start/" class="btn btn-info btn-block"><i class="icon-user icon-white"></i>Cambiar Avatar </a>
		    	<a href="/logout" class="btn btn-danger btn-block"> <i class="icon-off icon-white"></i> Desconectarse</a>
			</div>
		</div>
		<div class="row">
			<div class="span6 offset3">
				{%if flash %}<div class="flash">{{flash}}</div>{% endif %}
			</div>
		</div>
		<div class="row-fluid generated-content" style="padding-left: 5px">
			<div class="span11">
				{% block content %}{{ content }}{% endblock %}
				{% if message_box %}
				<div class="messageBox">
					<div class="messageBoxIcon" >
						<img src="/img/warning.png" />
					</div>
					<div>
						<h1>Titulo del mensaje</h1>
						<p>El contenido del mensaje debe ir escrito en este contenedor</p>
					</div>
				</div>
				{% endif %}
				
			</div>
			<div class="span1">
				<div class="avatar-spacer" ></div>
				{%block avatar%}
					<div class="avatar {% if bubble_data %}timed_show{%endif%}" 
					{% if bubble_data %}
						rel="popover"
            data-animation="true"
            data-placement="left"
            data-delay="12000"
            data-content="{{bubble_data}}"
            id="bubble_data"
            style="visibility:hidden"
          {%else%}
          	style="visibility:hidden"
        	{%endif%}
					>
					{% if kid_data %}
	                <div class="{{kid_data}} half timed_show" data-delay="12500"   ></div>
	                {% endif %}
					</div>
				{%endblock avatar%}
				</div>
			</div>

		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="span1">
					<div style="margin: 10px auto;">
						<img src="/img/logo_small.png" style="max-height:20px;"  />
					</div>
				</div>
				<div class="span9">
					<p><small>MeKuido.info Intervención del Programa prevención del sobrepeso y de la obesidad en escolares chilenos: Una apuesta a la capacidad emprendedora de los niños. </small></p>
					<p><small>Financiado por FONIS SA10I20016</small></p>
					<p><small>Propiedad intelectual equipo investigación <a href="http://www.uc.cl/enfermeria/">Escuela de Enfermería de la Universidad Católica de Chile</a></small></p>
				</div>
				<div class="span2">
					<a href="http://leonardo.luarte.net" class="">
						Desarrollo: Leonardo Luarte
					</a>
					<a href="https://github.com/lomefin/MK2" class="btn btn-inverse">
						<i class=" icon-globe icon-white"></i> Open Source
					</a>
				</div>
			</div>
		</div>
	</footer>
 
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- End of Common Javascript Code -->
	
	<!--Time selector, based on JQuery-->
	
	<!--End of Time selector requirements-->
	{% if bubble_data%}
	<!--script type="text/javascript" src="/js/closeBubble.js"></script-->
	<script>
	$(function(){
		setTimeout(function(){$('#bubble_data').css('visibility','visible');},10200);
		setTimeout(function(){$('#bubble_data').popover('show');},12000);
		setTimeout(function(){$('#kid_face').hide(500);},9700);
	});
	</script>
	{% endif %}
	<!--Custom Javascript Code Needed-->
	{% block js_requires %}{% endblock %}
	{% block js_activities %}{% endblock %}
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22601440-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<!--End of Custom Javascript --> 
</body>
  
</html>