<!doctype html>  
<html lang="es" manifestold="/cache.manifest.not">  
<head>
	
	<title>Me Kuido - {% block title %}Bienvenido{% endblock title%}</title>
	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="/css/bootstrap-responsive.min.css" rel="stylesheet" />
	<link type="text/css" href="/css/styles.css" rel="stylesheet" />
	<!--link type="text/css" href="/css/faces.css" rel="stylesheet" /-->	
	
	<!--Custom CSS Requirements-->
	{% block css_requires %}{% endblock css_requires%}
	<!--End of Custom CSS Requirements-->
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="logo"></div>
			</div>
			<div class="span6 menuContainer">
				<div class="row-fluid">
					{% if not hide_menu %}
					<div id="food_log_menu" class="menuContainerElement"><div class="tk-salsbury"><a href="/food_log/">¿Qué Comí?</a></div></div>
					<div id="trivia_menu" class="menuContainerElement"><div><a href="/trivia/">Trivia</a></div></div>
					<div id="todo_menu" class="menuContainerElement"><div><a href="/todo/">Mis Metas</a></div></div>
					<div id="more_menu" class="menuContainerElement"><div><a href="/static/others">Ayudas</a></div></div>
					{% endif %}
				</div>
			</div>
		    <div class="span3">
	    		<span style="padding-right:10px">{{current_account.system_login}}</span>
	    		<a href="/logout">Salir</a>
			</div>
		</div>
		<div class="row">
			<div class="span6 offset3">
				{%if flash %}<div class="flash">{{flash}}</div>{% endif %}
			</div>
		</div>
		<div class="row generated-content">
			<div class="span11">
				{% block content %}{{ content }}{% endblock %}
				{% if message_box %}
				<div class="messageBox">
					<div class="messageBoxIcon" >
						<img src="/img/warning.png" />
					</div>
					<div>
						<h1>Titulo del mensaje</h1>
						<p>El contenido del mensaje debe ir escrito en este contenedor</p>
					</div>
				</div>
				{% endif %}
				<div class="row-fluid"><div class="span1 offset11"><div style="margin: 10px auto;"><img src="/img/logo_small.png" style="max-height:20px;"  /></div></div></div>
			</div>

		</div>

		<div class="row" id="preload"> 
			<div class="span1">FONIS</div>
			<!--preload-->	
		</div>
	</div>
 
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- End of Common Javascript Code -->
	
	<!--Time selector, based on JQuery-->
	
	<!--End of Time selector requirements-->
	{% if bubble_data%}
	<!--script type="text/javascript" src="/js/closeBubble.js"></script-->
	{% endif %}
	<!--Custom Javascript Code Needed-->
	{% block js_requires %}{% endblock %}
	{% block js_activities %}{% endblock %}
	<script type="text/javascript" src="/js/ga.js"></script>
	<!--End of Custom Javascript --> 
</body>
  
</html>